# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments (conda / venv)
.env/
.venv/
venv/
conda/
.envs/

# --------------------
# Node / TypeScript
# --------------------
node_modules/
dist/

# --------------------
# Tooling / Editors
# --------------------
.vscode/
.idea/
.DS_Store

# --------------------
# Logs / misc
# --------------------
*.log
